{
    "timeout": 60,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "build\/infection.log"
    },
    "mutators": {
        "@removal": true,
        "@return_value": true,
        "@zero_iteration": true
    }
}
